{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style_mobile.css'%}" type="text/css">
    <link rel="shortcut icon" href="{% static 'img/favicon.png'%}" type="image/png">
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>