{% extends 'main/base.html' %}

{% block title %}
Fearless vikingz
{% endblock %}

{% block content %}
<div class="wrapper">
<div class="hat">
    <img class="hatter" src="static/img/hater.png" alt="hat">
    <img class="logo" src="static/img/logo.png" alt="logo">
    <img class="logogit" src="static/img/logogit.png" alt="logogit">
    <div class="lor1"><a class="links" href= "#about" >About</a></div>
    <div class="lor2"><a class="links" href="#roadmap">Roadmap</a></div>
    <div class="lor3"><a class="links" href="#team">Team</a></div>
    <div class="lor4"><a class="links" href="#faq">FAQ</a></div>
    <div class="sor"><a class="links" href="https://github.com/White-prince/Fearless_Vikingz" >Source</a></div>
</div>
<div class="content">
    <div>
        <p class="txt">Fearless<br>Vikingz</p>
        <a class="but" href="https://opensea.io/">Opensea</a>
    </div>
    <div class="about">
        <a name="about"></a>
        <div class="pin">About us</div>
    </div>
    <div class="road">
        <a name="roadmap"></a>
        <div class="pin">RoadMap</div>
    </div>
    <div class="team">
        <a name="team"></a>
        <div class="pin">Team</div>
    </div>
    <div class="faq">
        <a name="faq"></a>
        <div class="pin">FAQ</div>
    </div>
</div>
<div class="footer">
    <img class="fotlogo" src="static/img/logo.png" alt="fotlogo">
    <a class="lin" href="https://www.instagram.com/fearless_vikingz/"><img class="fotlogot" src="static/img/logoinst.png" alt="fotlogoinst"></a>
    <a class="lin" href="https://twitter.com/Cryptov73783356"><img class="fotlogoth" src="static/img/logotwt.png" alt="fotlogotwt"></a>
    <a class="lin" href="https://github.com/White-prince"><img class="fotlogotht" src="static/img/logogit.png" alt="fotlogogit"></a>
    <div class="fot">© 2022 Fearless Vikingz. All Rights Reserved.</div>
</div>
</div>
{% endblock %}