{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Fearless vikingz
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="hat">
        <img class="hatter" src="{% static 'img/hater.png'%}" alt="hat">
        <a href="#top"><img class="logo" src="{% static 'img/logo.png'%}" alt="logo"></a>
        <img  class="logo_git" src="{% static 'img/logogit.png'%}" alt="logogit">
        <div class="lor1"><a class="links" href= "#about" >About</a></div>
        <div class="lor2"><a class="links" href="#roadmap">Roadmap</a></div>
        <div class="lor3"><a class="links" href="#team">Team</a></div>
        <div class="lor4"><a class="links" href="#faq">FAQ</a></div>
        <div class="sor"><a class="links" href="https://github.com/White-prince/Fearless_Vikingz" >Source</a></div>
    </div>
    <div class="content">
        <div class="contain">
            <p class="txt">Fearless<br>Vikingz</p>
            <a class="but" href="https://opensea.io/">Opensea</a>
        </div>
        <div class="about">
            <a name="about"></a>
            <div class="pin">About</div>
            <div class="info_about">
                <p class="info_about_pad">FEARLESS VIKINGZ IS <br>NOT JUST PICTURES</p>
                <p class="info_about_set">Fearless Vikingz are 10,000 randomly<br>
                    generatedbest warriors of the nine<br>
                    worlds, gathered ina place against<br>
                    a common threat - Ragnarok. By<br>
                    purchasing each NFT, YOU support<br>
                    our film projects aimed at showing<br>
                    people who they are. Join our army,<br>
                    which does not care what happens<br>
                    in the future.</p>
            </div>
            <div class="pic">
                <img class="nft_vik_one" src="{% static 'img/577.png'%}" alt="one">
                <img class="nft_vik_two" src="{% static 'img/582.png'%}" alt="two">
                <img class="nft_vik_three" src="{% static 'img/583.png'%}" alt="three">
                <img class="nft_vik_four" src="{% static 'img/585.png'%}" alt="four">
                <img class="nft_vik_five" src="{% static 'img/587.png'%}" alt="five">
                <img class="nft_vik_six" src="{% static 'img/597.png'%}" alt="six">
                <img class="nft_vik_seven" src="{% static 'img/611.png'%}" alt="seven">
                <img class="nft_vik_eight" src="{% static 'img/619.png'%}" alt="eight">
                <img class="nft_vik_nine" src="{% static 'img/638.png'%}" alt="nine">
            </div>
        </div>
        <div class="road">
            <a name="roadmap"></a>
            <div class="pin">RoadMap</div>
            <img class="road_map_graf" src="{% static 'img/road_map.png'%}" alt="one">
            <div>
                <div class="road_name_pos_one"><p class="name_heal">ASGARD</p>
                    <p class="text_heal">Collection release<br>
                        on OpenSea</p>
                </div>
                <div class="road_name_pos_two"><p class="name_heal">MIDGARD</p>
                    <p class="text_heal">Purchase of professional<br>
                        equipment while waiting<br>
                        for filming</p>
                </div>
                <div class="road_name_pos_three"><p class="name_heal">NIFLHEIM</p>
                    <p class="text_heal">Creating exclusivemateria<br>
                        ls for Fearless vikingz<br>
                        holders</p>
                </div>
                <div class="road_name_pos_four"><p class="name_heal">HELHEIM</p>
                    <p class="text_heal">Creating new NFT<br>
                        projects for Fearless<br>
                        vikingz holders</p>
                </div>
            </div>
        </div>
        <div  class="team">
            <a name="team"></a>
            <div class="pin">Team</div>
            <div class="pos_blocks">
                <div class="block_one">
                    <img class="img_max" src="{% static 'img/max.png' %}" alt="Max">
                    <div class="block_team_one">
                        <p class="name_heal">ARTIST</p>
                        <a style="font-family: 'Meta';" class="lin_team" href="https://twitter.com/TheV0rTeXK">@TheV0rTeXK</a>
                        <p style="font-family: 'Meta';" class="text_heal">Kiryushin Maxsim</p>
                    </div>
                </div>
                <div class="block_two">
                    <img class="img_andrey" src="{% static 'img/andrey.png' %}" alt="Andrey">
                    <div class="block_team_two">
                        <p class="name_heal">DEVELOPER</p>
                        <a style="font-family: 'Meta';" class="lin_team" href="https://twitter.com/White_prince_0">@White_prince_0 </a>
                        <p style="font-family: 'Meta';" class="text_heal">Andrey Alekseev</p>
                    </div>
                </div>
                <div class="block_three">
                    <p class="txt_team">Our goal is to make this world a better place with the help of<br>
                        cinema. To eradicate the vices of humanity.</p>
                </div>
            </div>
        </div>
        <div class="faq">
            <a name="faq"></a>
            <div class="pin">FAQ</div>
            <div class="faq_pos">
                <details class="faq_txt">
                    <summary>Will there be a Discord</summary>
                    <p style="font-family: 'Meta';">Yes, we are planning to make a discord for Fearless vikingz holders. Once inside, you get<br>
                        access to Fearless vikingz's private channels, which include the process from the filming<br>
                        of the film, as well as announcements of events.</p>
                </details>
                <details class="faq_txt">
                    <summary>What is the film project?</summary>
                    <p style="font-family: 'Meta';">psychopath. A psychological thriller about the essence of human consciousness, through the<br>
                        prism of the weak mind of a teenager.The film is aimed at an adult audience and is very relevant<br>
                        in connection with relatively recent events in the world.<br>
                        <p style="padding-top: 20px; font-family: 'Meta';">The demo script can be read <a style="color: #ce8e2b" href="https://docs.google.com/document/d/12If_4WKcLkDDurslzS950mcdfJegLoaw/edit?usp=sharing&ouid=111487660401029671498&rtpof=true&sd=true">here</a><br></p>
                    </p>
                </details>
                <details class="faq_txt">
                    <summary>What is the price of minting a Fearless vikingz?</summary>
                    <p style="font-family: 'Meta';">The price of one nft Fearless vikingz at the start is 0.03 ETF</p>
                </details>
                <details class="faq_txt">
                    <summary>What are the funds being used for?</summary>
                    <p style="font-family: 'Meta';">The proceeds received go directly to the novice film studio Vedmenko prodaction for the purchase of
                        video equipment, payment of royalties to the actors and payment to the film crew. This will allow us
                        to significantly raise the bar for the quality of future projects and will give us the opportunity to
                        create a unique community.</p>
                </details>
                <details class="faq_txt">
                    <summary>What is the total supply?</summary>
                    <p style="font-family: 'Meta';">The Fearless vikigz collection contains a total of 10,000 items</p>
                </details>
                <details class="faq_txt">
                    <summary>What intellectual property rights do Fearless vikingz holders receive?</summary>
                    <p style="font-family: 'Meta';">Owners of Fearless vikingz have full commercial art rights for the Moonbird they own.</p>
                </details>
            </div>
        </div>
    </div>
    <div class="footer">
        <img class="fotlogo" src="static/img/logo.png" alt="fotlogo">
        <a class="lin" href="https://www.instagram.com/fearless_vikingz/"><img class="fotlogot" src="static/img/logoinst.png" alt="fotlogoinst"></a>
        <a class="lin" href="https://twitter.com/Cryptov73783356"><img class="fotlogoth" src="static/img/logotwt.png" alt="fotlogotwt"></a>
        <a class="lin" href="https://github.com/White-prince"><img class="fotlogotht" src="static/img/logogit.png" alt="fotlogogit"></a>
        <div class="fot">© 2022 Fearless Vikingz. All Rights Reserved.</div>
    </div>
</div>
{% endblock %}