/*
Основной css файл
*/
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
/*Шрифты*/
@font-face {
    font-family: 'Meta';
    src: local('meta-normal'), local('meta-normal'),
    url('fonts/meta-normal.woff2') format('woff2'),
    url('fonts/meta-normal.woff') format('woff'),
    url('fonts/meta-normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Etna";
    src: url("fonts/Etna12.otf") format("opentype");
    }
/*Основание*/
body{
    font-family: 'Etna';
    color: #fff;
    background-image: url(/static/img/bgk.png);
    background-color: #202023;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    zoom:100%;
}
/*Голова*/
.hat{
    color: #fff;
    width: 1600px;
    height: 100px;
    position: fixed;
    border-radius: 100px;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.logo{
    position: fixed;
    width: 70px;
    height: 70px;
    top: 45%;
    left: 100px;
    transform: translate(-50%, -50%);
}
.links{
    color: #fff;
    text-decoration: none;
    user-select: none;
}
.hatter{
    height: 100px;
    width: 1600px;
}
.lor1 {
    font-size: 20px;
    position: absolute;
    top: 46%;
    left: 200px;
    transform: translate(-50%, -50%);
   }
.lor1:hover{font-size: 25px;}
.lor2 {
    font-size: 20px;
    position: absolute;
    top: 46%;
    left: 300px;
    transform: translate(-50%, -50%);
   }
.lor2:hover{font-size: 24px;}
.lor3 {
    font-size: 20px;
    position: absolute;
    top: 46%;
    left: 400px;
    transform: translate(-50%, -50%);
   }
.lor3:hover{font-size: 25px;}
.lor4 {
    font-size: 20px;
    position: absolute;
    top: 46%;
    left: 480px;
    transform: translate(-50%, -50%);
   }
.lor4:hover{font-size: 25px;}
.logo_git{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 45%;
    left: 1435px;
    transform: translate(-50%, -50%);
}
.sor{
    font-size: 20px;
    position: absolute;
    top: 43%;
    left: 1500px;
    transform: translate(-50%, -50%);
}
.sor:hover{font-size: 25px; }
/*Кнопка*/
a.but {
    font-size: 40px;
    position: relative;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #3191e9; /* фон кнопки */
    top: 60%;
    left:45%;
    padding: .3em .4em .6em;
    width:250px;
    height: 75px;
    outline: none; /* убирать контур в Mozilla */
    border-radius: 10px;
    transform: translate(-50%, -50%);
  } 
a.but:hover { background: #7b21f5; } /* при наведении курсора мышки */
/*Подвал*/
.footer{
    position: absolute;
    background-color: #00698c;
    width: 100%;
    height: 300px;
    top: 5509px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fotlogot{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 47%;
    bottom: 100px;
    transform: translate(-50%, -50%);
}
.fotlogoth{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    bottom: 110px;
    transform: translate(-50%, -50%);
}
.fotlogotht{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 53%;
    bottom: 90px;
    transform: translate(-50%, -50%);
}
.fotlogo{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    bottom: 160px;
    transform: translate(-50%, -50%);
}
.fot{
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}
/*Ссылки*/
.lin{
    font-size: 12px;
    user-select: none;
    text-decoration: none;
    color: #fff;
    box-shadow: #131313;
}
/*Контайнеры*/
.contain{
    width: 100%;
    height: 1080px;
    position: absolute;
}
/*Якоря*/
.about{
    position: absolute;
    width: 100%;
    height: 1080px;
    top: 1580px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.road{
    position: absolute;
    width: 100%;
    height: 1080px;
    top: 2660px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.team{
    position: absolute;
    width: 100%;
    height: 1080px;
    top: 3740px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.faq{
    position: absolute;
    width: 100%;
    height: 1080px;
    top: 4820px;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*Текст*/
.pin{
    position: absolute;
    color: #e28f17;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}
.txt{
    text-align: center;
    position: absolute;
    font-size:170px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*About*/
.info_about{
    position: absolute;
    width: 800px;
    height: 500px;
    top: 54%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.info_about_pad{
    font-size: 72px;
    padding-bottom: 50px;
}
.info_about_set{
    font-family: 'Meta';
    font-size: 36px;
}
.pic{
    position: absolute;
    width: 800px;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
}
.nft_vik_one{
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.nft_vik_two{
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.nft_vik_three{
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.nft_vik_four{
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.nft_vik_five{
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.nft_vik_six{
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.nft_vik_seven{
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.nft_vik_eight{
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.nft_vik_nine{
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
/*Roadmap*/
.road_map_graf{
    position: absolute;
    width: 700px;
    height: 700px;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.name_heal{
    font-size: 65px;
    padding-bottom: 20px;
}
.text_heal{
    font-size: 30px;
}
.road_name_pos_one{
    position: absolute;
    top: 35%;
    left: 28%;
    transform: translate(-50%, -50%);
}
.road_name_pos_two{
    position: absolute;
    top: 53%;
    left: 78%;
    transform: translate(-50%, -50%);
}
.road_name_pos_three{
    position: absolute;
    top: 64%;
    left: 22%;
    transform: translate(-50%, -50%);
}
.road_name_pos_four{
    position: absolute;
    top: 78%;
    left: 73%;
    transform: translate(-50%, -50%);
}
/*Team*/
.pos_blocks{
    position: absolute;
    width: 100%;
    height: 1080px;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.block_one{
    padding: 20px;
    background-color: #5aa3cf;
    width: 681px;
    height: 380px;
    position: absolute;
    top: 30%;
    left: 12%;
    border-radius: 30px;
}
.block_two{
    padding: 20px;
    background-color: #5aa3cf;
    width: 681px;
    height: 380px;
    position: absolute;
    top: 30%;
    right: 12%;
    border-radius: 30px;
}
.block_three{
    padding: 20px;
    background-color: #5aa3cf;
    width: 1445px;
    height: 151px;
    position: absolute;
    top: 80%;
    left: 50%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
}
.block_team_one{
    position: absolute;
    top: 5%;
    right: 15%;
}
.block_team_two{
    position: absolute;
    right: 5%;
    top: 5%;
}
.lin_team{
    font-size: 20px;
    user-select: none;
    text-decoration: none;
    color: #fff;
    padding-bottom: 5px;
}
a.lin_team:hover{color: #ce8e2b}
.txt_team{
    font-size: 45px;
    text-align: center;
}
.img_max{
    position: absolute;
    left: 10%;
}
.img_andrey{
    position: absolute;
    left: 10%;
}
/*FAQ*/
.faq_pos{
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.faq_txt{
    border-bottom: solid 2px white;
    padding-bottom: 20px;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;}
summary {
    display:inline-block;
    padding: .3em .5em .3em .4em;
    font-size:1.4em;
    cursor: pointer;
}
summary:after {
    content: "+";
    margin-left: .3em;
    display: inline-block;
    transition: transform .5s;
}
details[open] > summary:after {
    transform: scale(1,-1);
}
summary ~ * {
    padding:0 1em 0 1em;
}
details[open] summary ~ *{
    animation: sweep .5s ease-in-out;
}
@keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}
details{
    display:block;
    margin-bottom: .5rem;
}