@font-face {
    font-family: "Meta10";
    src: url("fonts/Meta10.eot");
    src: url("fonts/Meta10.eot?#iefix") format("embedded-opentype"),
    url("fonts/Meta10.woff") format("woff"),
    url("fonts/Meta10.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    }
@font-face {
    font-family: "Etna12";
    src: url("fonts/Etna12.otf") format("opentype");
    }
body{
    font-family: 'Etna12';
    color: #fff;
    background-image: url(/static/img/bgk.png);
    background-color: #202023;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    margin: 0;
    zoom:100%;
}
.hat{
    color: #fff;
    width: 1600px;
    height: 100px;
    position: fixed;
    border-radius: 100px;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.logo{
    position: fixed;
    width: 80px;
    height: 80px;
    top: 45%;
    left: 100px;
    transform: translate(-50%, -50%);
}
.links{
    color: #fff;
    text-decoration: none;
    user-select: none;
}
a.but {
    font-size: 40px;
    text-align:center;
    position: absolute;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #3191e9; /* фон кнопки */
    padding-top: .5em;
    width:250px;
    height:75px;
    outline: none; /* убирать контур в Mozilla */
    border-radius: 10px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
a.but:hover { background: #7b21f5; } /* при наведении курсора мышки */
.lor1 {
    font-size: 20px;
    position: absolute;
    top: 46%;
    left: 200px;
    transform: translate(-50%, -50%);
   }
.lor1:hover{font-size: 25px;}
.lor2 {
    font-size: 20px;
    position: absolute;
    top: 46%;
    left: 300px;
    transform: translate(-50%, -50%);
   }
.lor2:hover{font-size: 24px;}
.lor3 {
    font-size: 20px;
    position: absolute;
    top: 46%;
    left: 400px;
    transform: translate(-50%, -50%);
   }
.lor3:hover{font-size: 25px;}
.lor4 {
    font-size: 20px;
    position: absolute;
    top: 46%;
    left: 480px;
    transform: translate(-50%, -50%);
   }
.lor4:hover{font-size: 25px;}
.logogit{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 45%;
    left: 1435px;
    transform: translate(-50%, -50%);
}
.sor{
    font-size: 20px;
    position: absolute;
    top: 43%;
    left: 1500px;
    transform: translate(-50%, -50%);
}
.sor:hover{font-size: 25px; }
.txt{
    text-align: center;
    position: absolute;
    font-size:170px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hatter{
    height: 100px;
    width: 1600px;
}
.footer{
    position: absolute;
    background-color: #00698c;
    width: 100%;
    height: 300px;
    top: 5509px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fotlogot{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 47%;
    bottom: 100px;
    transform: translate(-50%, -50%);
}
.fotlogoth{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    bottom: 110px;
    transform: translate(-50%, -50%);
}
.fotlogotht{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 53%;
    bottom: 90px;
    transform: translate(-50%, -50%);
}
.fotlogo{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    bottom: 160px;
    transform: translate(-50%, -50%);
}
.fot{
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
}
.lin{
    font-size: 12px;
    user-select: none;
    text-decoration: none;
    color: #fff;
}
.poso{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.post{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contain{
    width: 100%;
    height: 1080px;
}
.about{
    position: absolute;
    width: 100%;
    height: 1080px;
    top: 1580px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.road{
    position: absolute;
    width: 100%;
    height: 1080px;
    top: 2660px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.team{
    position: absolute;
    width: 100%;
    height: 1080px;
    top: 3740px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.faq{
    position: absolute;
    width: 100%;
    height: 1080px;
    top: 4820px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pin{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}